<!DOCTYPE html>
{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
  
    {% block css %}
        <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% endblock css %}
    <!-- CARROUSEL-->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="text-center alert-success bg-success {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container" >
        
        <h1>Pedidos Solicitados | Bodeguero</h1>
        <hr>
        <tbody>
            
            <div class="card-group container">
                
                <table class="table table-success table-striped">
                    <thead class="table-primary">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID_PRODUCTO|ID_CLIENTE</th>
                        <th scope="col">FECHA</th>
                        <th scope="col">CANTIDAD</th>
                        <th scope="col">ESTADO</th>
                        <th scope="col">TIPO PAGO</th>
                        <th scope="col center">Accion</th>
                      </tr>
                    </thead>
                    {% for i in data %}
                        {%if i.estado_det == "Solicitud"%}
                        <tbody>
                            <tr>
                                <th scope="row">{{i.id_detven}}</th>
                                <td>{{i.producto_det}} | {{i.user_det}}</td>
                                <td>{{i.hora_det}} | {{i.fecha_det}}</td>
                                <td>{{i.cantidad_det}}</td>
                                <td>{{i.estado_det}}</td>
                                <td>{{i.tipoPago.pago_tpag}}</td>
                                <td>
                                    <div class="row" >
                                        <div class="col text-center" role="group" aria-label="Basic example">
                                            <form id="login-form2" class="form" action="/bodega_aprueba/" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" id="id_detven" name="id_detven" value="{{i.id_detven}}">
                                                <button value="submit" type="submit" name="submit2" class="btn btn-success btn-sm">ACEPTAR PEDIDO</button>
                                            </form>
                                        </div>
                                        <div class="col text-center" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-danger btn-sm">RECHAZAR PEDIDO</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        {%endif%}
                    {%endfor%}
                  </table>
                
            </div>
            <div class="container">
                <div class="col">
                    <div class="card text-center" >
                        <h3 >Vendedores Disponibles En Sucursal</h3>
                    </div>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option hidden selected>Selecciona Vendedor</option>
                        {%for v in vendedores%}
                            <option>{{v.nom_user}}</option>
                        {%endfor%}
                    </select>
                    <br><br><br>
                </div>
                
            </div>
            <hr>
        </tbody>
                    
        <div class="content-footer">
            <p>
                MusicPro © - 2022 <br>
                Powered By equipo7</a>
            </p>
        </div>
        
    </div>

{% endblock contenido %} 