<!DOCTYPE html>
{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
  
    {% block css %}
        <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% endblock css %}
    <!-- CARROUSEL-->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="text-center alert-success bg-success {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
    	<div class="title">
    		<div class="card">
                <h1><a href="{% url 're_admin' %}" class="btn btn-success">Atras</a> usuarios: {{datalen}} </h1>
            </div>
    	</div>
    	<div class="row">
            <div class=" ml-auto mr-auto">
                {% for i in data %}
                <div class="table-responsive">
                    <table class="table" border="1" bgcolor="red">
                        <thead border="1">
                            <tr style="background-color: rgb(102, 255, 153);">
                                <th class="text-center">#</th>
                                <th>nombre | edad</th>
                                <th>rut</th>
                                <th>email</th>
                                <th class="text-center">Tipo</th>
                            </tr>
                        </thead>
                        <tbody border="1">
                            <tr style="background-color: rgb(114, 191, 255);" border="1">
                                <td class="text-center" border="1">{{i.id_user}}</td>
                                <td border="1">{{i.nom_user}} | {{i.age_user}}</td>
                                <td>{{i.rut_user}}</td>
                                <td>{{i.email_user}}</td>
                                <td class="text">
                                    <form id="login-form" class="form" action="/updateing/" method="POST">
                                        <label for="remember-me" class="text-info pull-right" name="iduser" id="iduser">id: {{i.id_user}}</label><br>
                                        {% csrf_token %}
                                        tipo usuario: ({{i.tipo_user}})
                                        <select type="text" value="Cambia" name="tipo_user" class="form-control" id="tipo_user">
                                            <option value="" selected disabled hidden>Cambia aquí</option>
                                            <option>Administrador</option>
                                            <option>Bodeguero</option>
                                            <option>Vendedor</option>
                                            <option>Contador</option>
                                            <option>Cliente</option>
                                        </select>
                                        <input type="hidden" id="email_user" name="email_user" value="{{i.email_user}}">
                                        <button value="submit" type="submit" name="submit" class="btn btn-warning btn-filter" data-target="pendiente">EDITAR</button>
                                    </form>
                                    <form id="login-form2" class="form" action="/deleteing/" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" id="id_user" name="id_user" value="{{i.id_user}}">
                                        <button value="submit" type="submit" name="submit2" class="btn btn-danger btn-filter" data-target="cancelado">ELIMINAR</button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                        </tbody>
                    </table>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>  
    <div class="content-footer">
        <p>
            MusicPro © - 2022 <br>
            Powered By equipo7</a>
        </p>
    </div>
    

{% endblock contenido %} 