<!DOCTYPE html>
{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
  
    {% block css %}
        <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
    {% endblock css %}
    <!-- CARROUSEL-->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'app/img/Imagine Art12345.jpg' %}" class="d-block w-100" alt="atronauta">
                <!--<div class="carousel-caption">
                    <h3>Amazing Digital Experience</h3>							
                    <p>Nullam hendrerit justo non leo aliquet imperdiet. Etiam sagittis lectus condime dapibus.</p>
                    <div class="carousel-action">
                        <a href="#" class="btn btn-primary">Learn More</a>
                        <a href="#" class="btn btn-success">Try Now</a>
                    </div>
                </div>-->
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/img/Imagine Art1234.jpg' %}" class="d-block w-100" alt="leon">
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/img/Imagine Art2.jpg' %}" class="d-block w-100" alt="itachi">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">lola</span>
        </button>
    </div>

    <!-- EXTRAS -->
    <br>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="title-header text-center">
                    <h4>Fabricados</h4>
                </div>
            </div>
        </div>
	</div>
    <br>
    
    <div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
        <div class="card">
            <img src="{% static 'app/img/trompeta.jpg' %}" alt="cuadro de la noche estrellada">
            <div class="card-body">
            <h5 class="card-title">Trompeta</h5>
            <p class="card-text">PRECIO: 20.000<br>
                Dimensiones (cm): 40 x 60 <br>
            </div>
        </div>
        </div>
        <div class="col mb-4">
        <div class="card">
            <img src="{% static 'app/img/piano.jpg'%}" class="card-img-top" alt="pintura al óleo de árboles">
            <div class="card-body">
            <h5 class="card-title">Piano</h5>
            <p class="card-text">PRECIO: 20.000 <br>
                Dimensiones (cm): 40 x 50 <br>
            </div>
        </div>
        </div>
        <div class="col mb-4">
        <div class="card">
            <img src="{% static 'app/img/guitarra.jpg' %} " class="card-img-top" alt="pintura al oleo">
            <div class="card-body">
            <h5 class="card-title">Guitarra</h5>
            <p class="card-text">PRECIO: 20.000 <br>
                Dimensiones (cm): 40 x 70 <br>
            </div>
        </div>
        </div>
        <div class="col mb-4">
        <div class="card">
            <img src="{% static 'app/img/bateria.jpg' %} " alt="pintira acrílica de mar">
            <div class="card-body">
            <h5 class="card-title">Batería</h5>
            <p class="card-text">PRECIO: 20.000<br>
                Dimensiones (cm): 50 x 50 <br>
            </div>
        </div>
        </div>
    </div>
    </div>
{% endblock contenido %} 