<!DOCTYPE html>
{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
    {% block css %}
        <!-- CSS only -->
        <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
    {% endblock css %}
    
<div class="container">
    <div class="row">
        <div class="col-md-12">
                <br>
                <h1>Productos</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="card-group container">
        {% for i in data %}
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{i.nom_pro}}</h5>
                    <p class="card-text">{{i.des_pro}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{i.pric_pro}} CLP</small> | <button value="submit" type="submit" name="submit2" class="btn btn-success btn-filter" data-target="cancelado">Lo quiero</button>
                </div>
            </div>
        {%endfor%}
    </div>
</div>
{% endblock contenido %} 