{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock css %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="text-center alert-success bg-success {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div id="login">
        <h2 class="text-center text-info pt-5">MUSIC PRO</h2>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        
                        <form id="login-form" class="form" action="/registering/" method="post">
                            {% csrf_token %}
                            <h3 class="text-center text-info">Register</h3>
							<div class="form-group">
                                <label for="Nombre" class="text-info">Nombre:</label><br>
                                <input type="text" name="nom_user" id="nom_user" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="Email" class="text-info">Email:</label><br>
                                <input type="email" name="email_user" id="email_user" class="form-control">
                            </div>
							<div class="form-group">
                                <label for="Rut" class="text-info">Rut:</label><br>
                                <input type="text" name="rut_user" id="rut_user" class="form-control">
                            </div>
							<div class="form-group">
                                <label for="Edad" class="text-info">Edad:</label><br>
                                <input type="number" name="age_user" id="age_user" min="1" max="100" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="text" name="pass_user" id="pass_user" class="form-control">
                            </div>
                            <div id="register-link" class="text-center">
                                <input type="submit" name="submit" class="text-center btn btn-info btn-md " value="Registrar">
                            </div>
							<hr>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %} 
