{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
    {% block css %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
    {% endblock css %}

<div class="container">
        <div class="row">
            <div class="col-12 align-self-center"><h1 class="display-1">TIENDA</h1></div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="row" style="padding: 10px 0;">
                    <div class="col-12">
                        <div class="row">
                            {% for i in data %}
                            <div class="col-6">
                                <div class="card" style="height: 10rem; width: 23rem; margin: 5px 0px;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{i.id_pro}}</h5>
                                        <p class="card-text">{{i.nom_pro}}</p>
                                        <p class="card-text">{{i.pric_pro}}</p>
                                        <a href="{% url 'agregar' i.id %}" class="btn btn-primary">Agregar al carrito</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    
{% endblock contenido %} 
