{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock css %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="text-center alert-success bg-success {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div id="login">
        <h2 class="text-center text-info pt-5">MUSIC PRO</h2>
        <div class="table-container">
            <div id="login-row" class="row justify-content-center align-items-center bg-black">
                <div id="login-column" class="list-group">
                    <div id="login-box" class="list-group">
                        <div  class="m-sm-auto">
                            <form id="login-form2" class="form" action="/updateing_pro/" method="POST">
                                {% csrf_token %}
                                <div>
                                    Precio: $({{i.pric_pro}})
                                </div>
                                <div>
                                    Unidades: <input type="number" id="pric_pro" name="pric_pro" placeholder="000">
                                </div>
                                <input type="hidden" id="id_pro" name="id_pro" value="{{i.id_pro}}">
                                <button value="submit" type="submit" name="submit2" class="btn btn-warning btn-filter" data-target="cancelado">EDITAR</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %} 